$brandColor: #3c3e40;

$successColor: #67c23a;
$warningColor: #e6a23c;
$dangerColor: #f56c6c;
$infoColor: #909399;

$primaryText: #303133;
$reguarText: #606266;
$secondaryText: #909399;
$disabledText: #c0c4cc;
$placeholderText: #a8abb2;

$baseBackground: #ffffff;
