$brandColor: #3c3e40;

$successColor: #67C23A;
$warningColor: #E6A23C;
$dangerColor: #F56C6C;
$infoColor: #909399;

$primaryText: #303133;
$reguarText: #606266;
$secondaryText: #909399;
$disabledText: #C0C4CC;
$placeholderText: #A8ABB2;





