@import './reset.scss';
@import './_variables.scss';

@font-face {
	font-family: 'Pulp ExtraLight';
	font-weight: 400;
	src: url('../../PulpDisplay-ExtraLight.ttf');
}
@font-face {
	font-family: 'Pulp Light';
	font-weight: 400;
	src: url('../../PulpDisplay-Light.ttf');
}
@font-face {
	font-family: 'Pulp Regular';
	font-weight: 500;
	src: url('../../PulpDisplay-Regular.ttf');
}
@font-face {
	font-family: 'Pulp Medium';
	font-weight: 600;
	src: url('../../PulpDisplay-Medium.ttf');
}
@font-face {
	font-family: 'Pulp SemiBold';
	font-weight: 700;
	src: url('../../PulpDisplay-SemiBold.ttf');
}
@font-face {
	font-family: 'Pulp Bold';
	font-weight: 800;
	src: url('../../PulpDisplay-Bold.ttf');
}

* {
	font-family: 'Pulp Light';
}
